      <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1" style="background-image:url('/img/photo-1523381210434-271e8be1f52b.jpg'); background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;">
                <div class="breadcrumb-content text-center">
                    <h2 data-aos="fade-up" data-aos-delay="200">Contact Us</h2>
                    <ul data-aos="fade-up" data-aos-delay="400">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="ti-angle-right"></i></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            {{!-- <div class="breadcrumb-img-1">
                <img src="assets/images/banner/breadcrumb-1.png" alt="">
            </div>
            <div class="breadcrumb-img-2">
                <img src="assets/images/banner/breadcrumb-2.png" alt="">
            </div> --}}
        </div>
        <div class="contact-us-area pt-100 pb-65">
            <div class="container">
                <div class="section-title-4 text-center mb-50" data-aos="fade-up" data-aos-delay="200">
                    <h2>Our Outlet Address! Please Visit Us.</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="contact-us-info-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <div class="contact-us-info-title">
                                <h3>HELGRAY Shop</h3>
                            </div>
                            <div class="contact-us-info">
                                <p>NEAR HMT KALAMASSERY , ERNAKULAM KERALA , INDIA</p>
                                <span>Call us: 9562994337</span>
                            </div>
                            <div class="contact-us-info">
                                <p>Assistance hours: Monday – Sunday</p>
                                <span>9 am to 8 pm </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="contact-us-info-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                            <div class="contact-us-info-title">
                                <h3>HELGRAY Shop</h3>
                            </div>
                            <div class="contact-us-info">
                                <p>NEAR GLASSWARE , ADAT PO THRISSUR KERALA</p>
                                <span>Call us: 956294337 </span>
                            </div>
                            <div class="contact-us-info">
                                <p>Assistance hours: Monday – Friday</p>
                                <span>9 am to 8 pm </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="contact-us-info-wrap mb-30" data-aos="fade-up" data-aos-delay="600">
                            <div class="contact-us-info-title">
                                <h3>HELGRAY Shop</h3>
                            </div>
                            <div class="contact-us-info">
                                <p>BULIDING NO 10 , ERNAKULAM SOUTH KERALA</p>
                                <span>Call us: 9562994337</span>
                            </div>
                            <div class="contact-us-info">
                                <p>Assistance hours: Monday – Friday</p>
                                <span>9 am to 8 pm </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map pt-120" data-aos="fade-up" data-aos-delay="200">
            <iframe src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=HMT&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
        <div class="contact-form-area pt-90 pb-100">
            <div class="container">
                <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
                    <h2>Ask Us Anything Here</h2>
                </div>
                {{!-- <div class="contact-form-wrap" data-aos="fade-up" data-aos-delay="200">
                    <form class="contact-form-style" id="contact-form" action="assets/php/mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-4">
                                <input name="name" type="text" placeholder="Name*">
                                <input name="email" type="email" placeholder="Email*">
                                <input name="subject" type="text" placeholder="Subject*">
                                <input name="phone" type="text" placeholder="Phone*">
                            </div>
                            <div class="col-lg-8">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 contact-us-btn btn-hover">
                                <button class="submit" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div> --}}
            </div>
        </div>
           <!-- Product Modal end -->
        {{>user-footer}}
        <!-- Mobile Menu start -->
        {{>user-mobileview}}
    </div>
    <!-- All JS is here -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/aos.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/swiper.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/plugins/counterup.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/easyzoom.js"></script>
    <script src="assets/js/plugins/slinky.min.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
</body>

</html>